<?xml version="1.0"?>
<config>
  <modules>
    <DJ_ProductFilter>
      <version>0.1.0</version>
    </DJ_ProductFilter>
  </modules>
  <frontend>
    <routers>
      <productfilter>
        <use>standard</use>
          <args>
            <module>DJ_ProductFilter</module>
            <frontName>productfilter</frontName>
          </args>
      </productfilter>
    </routers>
		<layout>
		  <updates>
			<productfilter>
			  <file>productfilter.xml</file>
			</productfilter>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <productfilter>
        <class>DJ_ProductFilter_Helper</class>
      </productfilter>
    </helpers>
	<blocks>
	  <productfilter>
		<class>DJ_ProductFilter_Block</class>
	  </productfilter>
	</blocks>
  </global>
</config> 