<?xml version="1.0"?>
<config>
  <modules>
    <DJ_CustomerAttribute>
      <version>0.1.0</version>
    </DJ_CustomerAttribute>
  </modules>
  <global>
    <helpers>
      <customerattribute>
        <class>DJ_CustomerAttribute_Helper</class>
      </customerattribute>
    </helpers>
	<models>
	  <customerattribute>
		<class>DJ_CustomerAttribute_Model</class>
		<resourceModel>customerattribute_mysql4</resourceModel>
	  </customerattribute>
	</models>
	<resources>
	  <customerattribute_setup>
		<setup>
		  <module>DJ_CustomerAttribute</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute_setup>
	  <customerattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute_write>
	  <customerattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute_read>
	</resources>
  </global>
</config> 