<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWAuthenticator>
			<version>1.1.1</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewauthenticator/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWAuthenticator>
	</modules>
	<admin>
        <routers>
			<extendware_ewauthenticator>
				<use>admin</use>
				<args>
					<module>Extendware_EWAuthenticator</module>
					<frontName>extendware_ewauthenticator</frontName>
				</args>
			</extendware_ewauthenticator>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWAuthenticator>
					<files>
						<default>extendware/Extendware_EWAuthenticator.csv</default>
					</files>
				</Extendware_EWAuthenticator>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewauthenticator>
					<file>extendware/ewauthenticator.xml</file>
				</ewauthenticator>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWAuthenticator>
					<files>
						<default>extendware/Extendware_EWAuthenticator.csv</default>
					</files>
				</Extendware_EWAuthenticator>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewauthenticator>
					<file>extendware/ewauthenticator.xml</file>
				</ewauthenticator>
			</updates>
		</layout>
		<routers>
			<ewauthenticator>
				<use>standard</use>
				<args>
					<module>Extendware_EWAuthenticator</module>
					<frontName>ewauthenticator</frontName>
				</args>
			</ewauthenticator>
        </routers>
    </frontend>
	<global>
		<models>
			<ewauthenticator>
				<class>Extendware_EWAuthenticator_Model</class>
				<resourceModel>ewauthenticator_mysql4</resourceModel>
			</ewauthenticator>
			<ewauthenticator_mysql4>
                <class>Extendware_EWAuthenticator_Model_Mysql4</class>
                <entities>
                	<user>
                        <table>ewauthenticator_user</table>
                    </user>
                    <log>
                        <table>ewauthenticator_log</table>
                    </log>
				</entities>
            </ewauthenticator_mysql4>
		</models>
		<blocks>
			<ewauthenticator>
                <class>Extendware_EWAuthenticator_Block</class>
            </ewauthenticator>
		</blocks>
		<helpers>
			<ewauthenticator>
				<class>Extendware_EWAuthenticator_Helper</class>
			</ewauthenticator>
		</helpers>
		<resources>
			<ewauthenticator_setup>
				<setup>
					<module>Extendware_EWAuthenticator</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewauthenticator_setup>
			<ewauthenticator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewauthenticator_write>
            <ewauthenticator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewauthenticator_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<default>
        <ewauthenticator>
            <general>
            	<enabled>1</enabled>
            	<tolerance_level>240</tolerance_level>
            </general>
            <rate_limiting>
            	<enabled>1</enabled>
            	<max_attempts>20</max_attempts>
            	<period_magnitude>600</period_magnitude>
            </rate_limiting>
        </ewauthenticator>
    </default>
	<extendware>
		<override>
			<block>
				<mage_adminhtml_permissions_user_edit_tabs_ewauthenticator_override>
	          		<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Permissions_User_Edit_Tabs</class></search>
					<replace>
						<class>Extendware_EWAuthenticator_Block_Override_Mage_Adminhtml_Permissions_User_Edit_Tabs</class>
						<order>0</order>
					</replace>
				</mage_adminhtml_permissions_user_edit_tabs_ewauthenticator_override>
			</block>
			<controller>
				<mage_core_controller_varient_router_standard_ewcore_override>
           			<mode>extendware</mode>
					<search><class>Mage_Core_Controller_Varien_Router_Standard</class></search>
					<replace>
						<class>Extendware_EWCore_Controller_Override_Mage_Core_Varien_Router_Standard</class>
						<order>0</order>
					</replace>
					<conditions>
           				<extension_exists>
	           				<ignore>1</ignore>
           				</extension_exists>
           			</conditions>
				</mage_core_controller_varient_router_standard_ewcore_override>
				<mage_adminhtml_permissions_usercontroller_ewauthenticator_override>
					<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Permissions_UserController</class></search>
					<replace>
						<class>Extendware_EWAuthenticator_Override_Mage_Adminhtml_Permissions_UserController</class>
						<order>100</order>
					</replace>
				</mage_adminhtml_permissions_usercontroller_ewauthenticator_override>
				<mage_adminhtml_indexcontroller_ewauthenticator_override>
					<mode>extendware</mode>
					<search><class>Mage_Adminhtml_IndexController</class></search>
					<replace>
						<class>Extendware_EWAuthenticator_Override_Mage_Adminhtml_IndexController</class>
						<order>100</order>
					</replace>
				</mage_adminhtml_indexcontroller_ewauthenticator_override>
			</controller>
			<model>
				<mage_admin_session_ewauthenticator_override>
					<mode>extendware</mode>
           			<search><class>Mage_Admin_Model_Session</class></search>
           			<replace>
           				<class>Extendware_EWAuthenticator_Model_Override_Mage_Admin_Session</class>
            			<order>100</order>
           			</replace>
           		</mage_admin_session_ewauthenticator_override>
           	</model>
		</override>
	</extendware>
</config>
