<?xml version="1.0"?>
<config>
  <modules>
    <DJ_CustomForm>
      <version>0.1.0</version>
    </DJ_CustomForm>
  </modules>
  <frontend>
    <routers>
      <customform>
        <use>standard</use>
          <args>
            <module>DJ_CustomForm</module>
            <frontName>customform</frontName>
          </args>
      </customform>
    </routers>
		<layout>
		  <updates>
			<customform>
			  <file>customform.xml</file>
			</customform>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customform>
        <class>DJ_CustomForm_Helper</class>
      </customform>
    </helpers>
	<blocks>
	  <customform>
		<class>DJ_CustomForm_Block</class>
	  </customform>
	</blocks>
	<models>
	  <customform>
		<class>DJ_CustomForm_Model</class>
		<resourceModel>customform_mysql4</resourceModel>
	  </customform>
	  <customform_mysql4>
		<class>DJ_CustomForm_Model_Mysql4</class>
		<entities>		  
			  <customform>
				<table>dj_customform</table>
			  </customform>
        </entities>
	  </customform_mysql4>
	</models>
	<resources>
	  <customform_setup>
		<setup>
		  <module>DJ_CustomForm</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customform_setup>
	  <customform_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customform_write>
	  <customform_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customform_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <customform>
	    <use>admin</use>
		<args>
		  <module>DJ_CustomForm</module>
		  <frontName>admin_customform</frontName>
		</args>
	  </customform>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <customform module="customform">
		<title>CustomForm</title>
		<sort_order>100</sort_order>
		<children>
		  <customformbackend module="customform">
			<title>Custom</title>
			<sort_order>0</sort_order>
			<action>admin_customform/adminhtml_customformbackend</action>
		  </customformbackend>
		  <customform module="customform">
		    <title>Manage Customform</title>
			<sort_order>0</sort_order>
			<action>admin_customform/adminhtml_customform</action>
		  </customform>
		</children>
	  </customform>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<customform translate="title" module="customform">
			  <title>CustomForm</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <customformbackend translate="title">
			<title>Custom</title>
		  </customformbackend>
		  <customform translate="title">
			<title>Manage Customform</title>
			<sort_order>0</sort_order>
		  </customform>
			  </children>
			</customform>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<customform>
		  <file>customform.xml</file>
		</customform>
	  </updates>
	</layout>
  </adminhtml>
</config> 